:root {
  --blue-400: #1e6f9f;
  --blue-300: #4ea8de;

  --purple-400: #5e60ce;
  --purple-300: #8284fa;

  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;
  --gray-200: #d9d9d9;
  --gray-100: #f2f2f2;

  --red-400: #e25858;

  --font-primary: 'Inter', inter-fallback;

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;

  --font-normal: 400;
  --font-bold: 700;

  --line-normal: 1.4;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/static/fonts/inter.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/static/fonts/inter.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: inter-fallback;
  src: local('Arial');
  ascent-override: 90.49%;
  descent-override: 22.56%;
  line-gap-override: 0%;
  size-adjust: 107.06%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:focus {
  outline: transparent;
}

body {
  background-color: var(--gray-600);
  color: var(--gray-300);
  font-family: var(--font-primary);
  font-weight: var(--font-normal);
  line-height: var(--line-normal);
  -webkit-font-smoothing: antialiased;
}

input,
textarea,
button {
  font-family: var(--font-primary);
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
