:root {
  --blue-400: #1e6f9f;
  --blue-300: #4ea8de;

  --purple-400: #5e60ce;
  --purple-300: #8284fa;

  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;
  --gray-200: #d9d9d9;
  --gray-100: #f2f2f2;

  --red-400: #e25858;
}

:focus {
  outline: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-600);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 1rem;
  line-height: 140%;
}
