.mainHeader {
  background-color: var(--gray-700);
  padding: 5rem 0;
}

.container {
  max-width: 48rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.container img {
  width: 7.875rem;
  margin: 0 auto;
}
