.task {
  width: 100%;
  display: flex;
  align-items: start;
  column-gap: 0.75rem;
  padding: 1rem;
  margin-bottom: 0.75rem;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 0.5rem;
}

.task:last-of-type {
  margin-bottom: 0;
}

.task.done {
  border-color: var(--gray-500);
}

.formCheck {
  display: flex;
  column-gap: 0.75rem;
}

.formCheck label {
  font-size: 0.875rem;
  color: var(--gray-100);
}

.task.done .formCheck label {
  color: var(--gray-300);
  text-decoration: line-through;
}

.formCheck input[type="checkbox"] {
  width: 1.125rem;
  height: 1.125rem;
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.5625rem;
  border: 2px solid var(--blue-300);
  border-radius: 100%;
  margin-top: 0.25rem;
  cursor: pointer;
  appearance: none;
  transition: all 200ms;
}

.formCheck input[type="checkbox"]:hover {
  background-color: rgba(30, 111, 159, 0.2);
  border-color: var(--blue-400);
}

.formCheck input[type="checkbox"]:checked {
  background-color: var(--purple-400);
  background-image: url("../assets/checkmark.svg");
  border-color: var(--purple-400);
  transition: all 200ms;
}

.formCheck input[type="checkbox"]:checked:hover {
  background-color: var(--purple-300);
  border-color: var(--purple-300);
}

.trashButton {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background 200ms;
}

.trashButton:hover {
  background-color: var(--gray-400);
}

.trashButton svg {
  color: var(--gray-300);
  transition: fill 200ms;
}

.trashButton:hover svg {
  fill: var(--red-400);
}
